@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .toast-container[data-position="top-right"]{
        @apply top-2 right-2
    }

    .toast-container[data-position="top-left"]{
        @apply top-2 left-2
    }

    .toast-container[data-position="bottom-right"]{
        @apply bottom-2 right-2
    }
    .toast-container[data-position="bottom-left"]{
        @apply bottom-2 left-2
    }

    .toast-container[data-position="top-left"] .toast,
    .toast-container[data-position="bottom-left"] .toast{
       animation: slide-from-left .5s ease-out;
    }

    .toast-container[data-position="top-right"] .toast,
    .toast-container[data-position="bottom-right"] .toast{
       animation:  slide-from-right .5s ease-out;
    }
    @keyframes slide-from-left {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

     @keyframes slide-from-right {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }


}